.middle-body{
    height: 800px;
    border: yellow solid;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 65px;
    flex-wrap: wrap;
    margin: 0px, 70px;
    text-align: center;
}

.meet{
    font-size: 67px;
    text-align: center;
    font-weight: bolder;
}

.more{
    height: 50px;
    width: 150px;
    background-color: rgb(231, 178, 43);
    font-size: 20px;
    color: white;
}

.more:hover{
    background-color: rgb(211, 155, 14);
}


@media (max-width: 650px){
    .welcome{
        transform: scale(.5);
    }
    .meet{
        transform: scale(.5);
    }
    .more{
        transform: scale(.5);
    }
    .middle-body{
        height: 450px;;
    }
}